body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.heightmax {
  height: 100%;
}

/*
 * Sidebar
 */

.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  max-width: 225px;
}

.header-nav {
  background: #496990;
  color: #fff;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  flex-direction: column;
}

.sidebar-sticky .nav-item .nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.sidebar-sticky .nav-item:hover .nav-link {
  background: #ddd;
}

.sidebar-sticky .nav-item .nav-link.active {
  background: #5f9fef;
  color: #fff;
}

.sidebar-sticky .nav-item .nav-link i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px;
  /* width: calc(100% - 225px); */
  /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card-row.row {
  margin-left: -5px;
  margin-right: -5px;
}

.card-row>.col,
.card-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.card-title {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 15px;
  color: #003473;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

main .card-body.table-responsive {
  padding: 8px;
}

.chkcontainer {
  display: flex;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
}

/* Hide the browser's default checkbox */
.chkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.chkcontainer:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkcontainer input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkcontainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chkcontainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .select2-container {
  height: 38px !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  border: 1px solid #ced4da !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px !important;
} */
.select2-container--default .select2-selection--single{
  min-height: 33px;
}
.form-control {
  font-size: 14px;
}

.table td .select2-container,
.table td .select2-container .select2-selection--single,
.table td .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31px !important;
}

.table td .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px !important;
}

.dataTables_filter input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 31px;
}

.dataTables_length select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 31px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
  border-color: #ced4da !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 4px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #5f9fef;
  border: none;
  color: #fff !important;
  padding: 4px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #5f9fef;
  border: none;
  color: #fff !important;
  padding: 4px 12px;
}

.dropdown-menu.relative {
  position: relative !important;
  transform: none !important;
}
table.dataTable thead th, table.dataTable thead td{
  white-space: nowrap;
}
.floatlabel{
  min-height: 22px;
  display: flex;
}