@model IEnumerable<mvc2.Models.razortbl>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

             <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="glyphicon glyphicon-edit"></a> |
                <a asp-action="Details" asp-route-id="@item.ProductId" class="glyphicon glyphicon-info-sign"></a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
    }
    </tbody>
    
</table>

