body {
    margin: 0;
    height: 100%;
    background: #f5f5f5;
    overflow: hidden;
    font-size: .875rem;
    color: #000;
}

.font-weight-bold {
    font-weight: 600;
}

.feather {

    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.heightmax {
    height: 100%;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.text-danger {
    color: var(--danger) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-success {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}

.btn-danger {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.btn-info {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
}

.btn-secondary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-success:not(:disabled) {
    &:hover {
        @include box-shadow(0px 6px 6px rgba(107, 197, 70, .5));
    }
}

.btn-primary:not(:disabled) {
    &:hover {
        @include box-shadow(0px 6px 6px rgba(103, 116, 197, .5));
    }
}

.btn-warning:not(:disabled) {
    &:hover {
        @include box-shadow(0px 6px 6px rgba(252, 137, 49, .5));
    }
}

.btn-info:not(:disabled) {
    &:hover {
        @include box-shadow(0px 6px 6px rgba(72, 171, 216, .5));
    }
}

.btn-danger:not(:disabled) {
    &:hover {
        @include box-shadow(0px 6px 6px rgba(255, 92, 133, .5));
    }
}

.btn-light:not(:disabled) {
    &:hover {
        @include box-shadow(0px 6px 6px rgba(216, 217, 219, .5));
    }
}

.main-wrapper {
    height: calc(100% - 80px);
}

.main-wrapper .page-inner {
    background: #fbfcfe;
    box-shadow: 0 0 15px 10px #efefef;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    position: relative;
}


.nav-tabs {
    border-bottom: 4px solid #f3f3f3;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.02);

    .nav-link {
        border: none !important;
        color: #8a8a8a;
        padding: 10px;
        margin-right: 5px;
        transition: all 0.05s linear;
        display: flex;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        i {
            width: 16px;
            stroke: #8a8a8a;
        }

        .badge {
            font-weight: normal;
            font-size: 12px;
        }

        &:hover {
            background-color: #f5f5f5;
        }

        &:focus {
            background-color: #ddd;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: #fbfcfe;
        background-color: var(--primary);
        padding-top: 8px;
        // padding-bottom: 8px;
        border-bottom: 3px solid #ddd;

        i {
            stroke: #fff;
        }
    }
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px;
    width: calc(100% - 225px);
    /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 85px;
        /* Space for fixed navbar */
    }
}

.dataTables_filter input {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 31px;
}

.dataTables_length select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 31px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-color: #ced4da !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 4px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #5f9fef;
    border: none;
    color: #fff !important;
    padding: 4px 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #5f9fef;
    border: none;
    color: #fff !important;
    padding: 4px 12px;
}

.dropdown-menu.relative {
    position: relative !important;
    transform: none !important;
}

table.dataTable thead th,
table.dataTable thead td {
    white-space: nowrap;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.heightmax {
    height: 100%;
}

.header-nav {
    height: 50px;
    width: calc(100% - 235px);
    margin-left: 216px;
}

.header-left {
    height: 100%;
    display: flex;

    ul.nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .nav-link {
            display: flex;
            cursor: pointer;
            align-items: center;
            background: none;
            padding: 0;
            width: 35px;
            height: 35px;
            justify-content: center;
            margin-right: 15px;

            &:hover {
                background: #f5f5f5;
            }
        }
    }
}

/*
 * Sidebar
 */

.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    /* Behind the navbar */
    padding: 0px 0 0;
    background: #242934;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    max-width: 225px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: 100vh;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;

    /* Scrollable contents if viewport is shorter than content. */

    .nav-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        flex-direction: column;

        .nav-link {
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 6px;
        }

        &:hover>.nav-link {
            background: #363e50;
        }

        .nav-link {
            &.active {
                background: #5f9fef;
                color: #fff;
            }

            i {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
            }


        }

        .dropdown-menu {
            background: none;
        }

        &:hover .nav-link {
            color: #fff;
        }
    }

    li:nth-child(4n+1) i {
        color: #fc9f58;
    }

    li:nth-child(4n+2) i {
        color: #ffffff;
    }

    li:nth-child(4n+3) i {
        color: #79dc50;
    }

    li:nth-child(4n+4) i {
        color: #9e9cff;
    }
}

.sidebar .nav-link {
    font-weight: normal;
    color: #c2c5da;

    .feather {
        margin-right: 4px;
        color: #999;
    }

    &.active {
        color: #007bff;
    }

    &:hover .feather,
    &.active .feather {
        color: inherit;
    }
}

.logolist {
    min-height: 90px;
    display: flex;
    align-items: center;
    background: #363e50;
    margin-bottom: 15px;

    a {
        display: flex;
        align-items: center;

        img {
            // filter: saturate(4.5);
            // width: 25px;
        }

        span {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 23px;
            letter-spacing: 1px;
            margin-left: 16px;
            color: #fff;
        }
    }
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
    }
}

.card-row {
    &.row {
        margin-left: -5px;
        margin-right: -5px;
    }

    > {

        .col,
        [class*=col-] {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

.card-title {
    font-size: 14px;
    margin-bottom: 0px;
    padding: 15px;
    color: #003473;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

main .card-body.table-responsive {
    padding: 8px;
}

.chkcontainer {
    display: flex;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */

.chkcontainer {
    &:hover input~.checkmark {
        background-color: #ccc;
    }

    input:checked~.checkmark {
        background-color: #2196F3;
    }
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.chkcontainer {
    input:checked~.checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/* Style the checkmark/indicator */

.select2-container {
    height: 35px !important;

    .select2-selection--single,
    .select2-selection--multiple {
        height: 35px !important;
        border: 1px solid #ced4da;
    }
}

.select2-container--default .select2-selection--single {
    .select2-selection__rendered {
        line-height: 30px !important;
    }

    .select2-selection__arrow {
        height: 35px !important;
    }
}

.select2-container--focus .select2-selection--single,
.select2-container--open .select2-selection--single,
.select2-container--focus .select2-selection--multiple,
.select2-container--open .select2-selection--multiple {
    border-color: var(--primary) !important;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

.form-control {
    font-size: 14px;
}

.input-btn {
    position: absolute;
    right: 17px;
    top: 1px;
    height: 33px;
    background: none;
    color: #9c9c9c;
}

.table td {
    .select2-container {
        height: 31px !important;

        .select2-selection--single {
            height: 31px !important;
        }
    }

    .select2-container--default .select2-selection--single {
        .select2-selection__arrow {
            height: 31px !important;
        }

        .select2-selection__rendered {
            line-height: 30px !important;
        }
    }
}

.dataTables_filter input,
.dataTables_length select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 31px;
}

table.dataTable {
    thead {

        th,
        td {
            border-color: #ced4da !important;
        }
    }

    &.no-footer {
        border-color: #ced4da !important;
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 4px 12px;

    &.current {
        background: #5f9fef;
        border: none;
        color: #fff !important;
        padding: 4px 12px;

        &:hover {
            background: #5f9fef;
            border: none;
            color: #fff !important;
            padding: 4px 12px;
        }
    }
}

.dropdown-menu.relative {
    position: relative !important;
    transform: none !important;
}

table.dataTable thead {

    th,
    td {
        white-space: nowrap;
    }
}

.form-row>.col,
.form-row>[class*=col-] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: flex-end;

    // &.form-group {
    //     flex: 0 0 50%;
    //     max-width: 50%;
    // }

    genie-input,
    date {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .input-clear .icons {
        stroke: #999;
    }

    .chkcontainer {
        width: 65%;
    }

    .date {
        .form-control {
            padding-right: 70px;
        }
    }

    .floatlabel {
        flex: 0 auto;
        min-width: 150px;
        max-width: 150px;
        text-align: right;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .form-control,
    .ng-select {
        width: 65%;
    }

    .pr50 .ng-select {
        padding-right: 50px;
    }

    .ng-select.fullWidth {
        width: 100%;
    }
}

.header-wrapper {
    position: fixed;
    width: calc(100% - 275px);
    height: 60px;
    margin-left: 250px;
    top: 13px;
    left: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #efefef;
    z-index: 10;
    transition: all linear 0.1s;
}

.sidebarToggle {
    .header-wrapper {
        width: calc(100% - 25px);
        margin-left: 25px;
    }
}

.page-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        font-size: 23px;
        color: #242934;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        span {
            display: flex;
            align-items: center;
        }

        .breadcrumb {
            font-size: 12px;
            background: none;
            align-items: center;
            margin-bottom: 0;
            border-left: 1px solid #ddd;

            // .breadcrumb-item+.breadcrumb-item::before {
            //     content: ">>";
            // }

            a {
                color: var(--primary);
            }

            .active a {
                color: #333333;
            }
        }
    }


}

.form-control {
    transition: all linear 0.25s;
    font-size: 14px;
    border-color: #bbc1c7;
    padding-right: 40px;

    &:focus {
        border-color: var(--primary);
        box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.25);
    }
}




.loader-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    // background-color: rgba(255, 255, 255, 0.74);
    background: #242934;
    z-index: 1000;
    top: 0;
    left: 0;

    .textColor {
        font-size: 40px;
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: 3px;
        // color: #8342ca;
        // color: rgba(209, 80, 110, 0.7);
        color: #fff;
        display: flex;

        span {
            // color: #5174d0;
        }
    }

    .loader-7 {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    .loader-7 .line {
        width: 8px;
        position: absolute;
        border-radius: 5px;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#158df7), to(#fb2e63));
        background: linear-gradient(to bottom, #158df7, #fb2e63);
    }

    .loader-7 .line1 {
        left: 0;
        -webkit-animation: line-grow 0.5s ease alternate infinite;
        animation: line-grow 0.5s ease alternate infinite;
    }

    .loader-7 .line2 {
        left: 20px;
        -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
        animation: line-grow 0.5s 0.2s ease alternate infinite;
    }

    .loader-7 .line3 {
        left: 40px;
        -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
        animation: line-grow 0.5s 0.4s ease alternate infinite;
    }
}

@-webkit-keyframes line-grow {
    0% {
        height: 0;
    }

    100% {
        height: 75%;
    }
}

@keyframes line-grow {
    0% {
        height: 0;
    }

    100% {
        height: 75%;
    }
}

@-webkit-keyframes loader-07 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes loader-07 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}


.file-upload {
    .upload-inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    input[type="file"] {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 35px;
        cursor: pointer;
    }

    .input-clear.folder-ico {
        opacity: 1 !important;
        background: none !important;

        &+.input-clear {
            right: 36px;
        }
    }

    .clear {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &.cardType {
        .upload-outer {
            flex-direction: column;
        }



        .floatlabel,
        .input-clear.folder-ico,
        .input-clear {
            display: none;
        }

        .form-control {
            border: none;
            text-align: center;
            padding-right: 0;
            min-height: 45px;
            margin-bottom: 15px;
            font-size: 20px;
            font-style: italic;
            /* color: #e4e4e4; */
            opacity: 0.7;
        }

        button.browse-btn {
            display: block !important;
        }

        input[type=file] {
            height: 130px;
        }

        .upload-inner {
            margin-bottom: 10px;
            height: 130px;
            padding: 20px;
            flex-direction: column;
            border-radius: 10px;
        }

        .upload-actions {
            margin-left: 0px !important;
            margin-top: 15px;

            .icon-btn {
                width: auto;
                height: auto;
                padding: 5px 8px;
                /* background: none; */
                width: 100%;
            }

            .icons {
                margin-right: 10px;
                width: 16px;

            }
        }

    }

}

.form-row.inline-form,
.form-row.inline-form-label {
    .floatlabel {
        display: none;
    }

    &>[class*=col-] .form-control,
    &>[class*=col-] .chkcontainer,
    &>[class*=col-] .ng-select {
        width: 100%;
    }
}

.form-row.inline-form-label {
    .floatlabel {
        display: inline-block;
    }
}

.seperator {
    min-height: 25px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 15px;
    position: relative;

    .btn {
        box-shadow: none !important;
        padding: 4px 3px;
        display: flex;
        align-items: center;
        background: #fff;
        border-color: #ddd;
        border-radius: 30px;
        position: absolute;
        top: 8px;
        transition: all linear 0.2s;

        i {
            font-size: 13px;
        }

        &:hover {
            background: var(--primary);
            color: #fff;
            padding: 8px 3px;

            i {
                color: #fff !important;
            }
        }

        .icons {
            width: 15px;
        }
    }
}

.table-responsive {
    overflow: auto;
}

table.table, table {
    border: 1px solid #dee2e6;

    thead tr th {
        color: #4352b5;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    tbody tr:nth-of-type(odd) {
        background: none;
    }

    tbody tr:nth-of-type(even) {
        background: #f1f1f2;
    }

    thead tr th,
    tbody tr td {
        padding: 0 5px;
        line-height: 24px;
        background: none;
        outline: none;

        .text-overflow {
            display: inline-block;
            width: 100px;
            overflow: hidden;
        }
    }

    .text-clip {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 200px;
        min-width: 200px;
    }
}

.topTask {
    position: absolute;
    right: 11px;
    top: 14px;
}

.rowView .form-group {
    border-bottom: 1px solid #eee;
    padding: 8px;
    margin-bottom: 0;
}