html,
body {
    height: 100%;
}

.login-wrapper {
    position: relative;
    height: 100%;
}

.top-logo {
    position: relative;
    z-index: 10;
    padding: 0px 15px;
    animation: fadeIn 2s linear;
    -webkit-animation: fadeIn 2s linear;
    -ms-animation: fadeIn 2s linear;
    -moz-animation: fadeIn 2s linear;

}

.logo-txt {
    font-weight: 600;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.login-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    background: url("../images/slider1.jpg");
    background-size: cover;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/background-inner.png);
        background-repeat: no-repeat;
        background-size: 850px;
        background-position: left center;
        opacity: 0.75;
        animation: fadeIn 2s linear;
        -webkit-animation: fadeIn 2s linear;
        -ms-animation: fadeIn 2s linear;
        -moz-animation: fadeIn 2s linear;

    }
}

.login-inner {
    max-width: 400px;
    position: absolute;
    right: 250px;
    top: 160px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.66);
    font-size: 0.875rem;
    animation: bounceInDown 1s linear;
    -webkit-animation: bounceInDown 1s linear;
    -ms-animation: bounceInDown 1s linear;
    -moz-animation: bounceInDown 1s linear;

    h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #053aa3;
    }

    .form-control {
        font-size: 0.875rem;
    }

    .form-row>.col,
    .form-row>[class*=col-] {
        .form-control {
            width: 100%;
        }
    }
}

@media screen and(max-width:1366px) {
    .login-inner {
        right: 50px;
        top: 125px;
    }
}