@mixin box-shadow($shadow1...) {
    -webkit-box-shadow: $shadow1;
    -moz-box-shadow: $shadow1;
    -ms-box-shadow: $shadow1;
    -o-box-shadow: $shadow1;
    box-shadow: $shadow1;
}

@mixin animation($name...) {
    animation: $name;
    -webkit-animation: $name;
    -moz-animation: $name;
    -ms-animation: $name;
    -o-animation: $name;
}

@mixin animation-duration($name) {
    animation-duration: $name;
    -webkit-animation-duration: $name;
    -moz-animation-duration: $name;
    -ms-animation-duration: $name;
    -o-animation-duration: $name;
}

@mixin animation-delay($name) {
    animation-delay: $name;
    -webkit-animation-delay: $name;
    -moz-animation-delay: $name;
    -ms-animation-delay: $name;
    -o-animation-delay: $name;
}

@mixin animation-iteration-count($name) {
    animation-iteration-count: $name;
    -webkit-animation-iteration-count: $name;
    -moz-animation-iteration-count: $name;
    -ms-animation-iteration-count: $name;
    -o-animation-iteration-count: $name;
}

@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

@mixin transform($string) {
    transform: $string;
    -webkit-transform: $string;
    -moz-transform: $string;
    -ms-transform: $string;
    -o-transform: $string;
}

@mixin transform-origin($string) {
    transform-origin: $string;
    -webkit-transform-origin: $string;
    -moz-transform-origin: $string;
    -ms-transform-origin: $string;
    -o-transform-origin: $string;
}

@mixin opacity($opacity: 0.5) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    opacity: $opacity;
}

@mixin gradient($important:0, $startColor...) {
    @if $important==1 {
        background: linear-gradient($startColor) !important;
        background: -webkit-linear-gradient($startColor) !important;
        background: -moz-linear-gradient($startColor) !important;
        background: -ms-linear-gradient($startColor) !important;
        background: -o-linear-gradient($startColor) !important;
    }
    @else {
        background: linear-gradient($startColor);
        background: -webkit-linear-gradient($startColor);
        background: -moz-linear-gradient($startColor);
        background: -ms-linear-gradient($startColor);
        background: -o-linear-gradient($startColor);
    }
}

@mixin gradients($startColor...) {
    background: linear-gradient($startColor);
    background: -webkit-linear-gradient($startColor);
    background: -moz-linear-gradient($startColor);
    background: -ms-linear-gradient($startColor);
    background: -o-linear-gradient($startColor);
}

@mixin rgradient($startColor) {
    background: radial-gradient($startColor);
    background: -webkit-radial-gradient($startColor);
    background: -moz-radial-gradient($startColor);
    background: -ms-radial-gradient($startColor);
    background: -o-radial-gradient($startColor);
}

@mixin horizontal-gradient($startColor: #eee, $endColor: white) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $endColor);
    background-image: -ms-linear-gradient(left, $startColor, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin display-flex() {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19-(buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex($string) {
    -webkit-box-flex: $string;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $string;
    /* OLD - Firefox 19- */
    -webkit-flex: $string;
    /* Chrome */
    -ms-flex: $string;
    /* IE 10 */
    flex: $string;
}
@mixin rtl {
    @at-root [dir="rtl"] #{&} {
        @content
    }
}

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min;
// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px;
$screen-md-min: $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min;
// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:($screen-sm-min - 1);
$screen-sm-max:($screen-md-min - 1);
$screen-md-max:($screen-lg-min - 1);