:root {
    --secondary: #242934;
    --primary: #4c5bbb;
    --danger: #ff3f70;
    --warning: #fb740d;
    --info: #4fc3f7;
    --success:#51bb25;

}
@import "mixins.scss";
@import "login.scss";
@import "carousel.scss";
@import "common.scss";
@import "keyframes.scss";